<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{url_for('static',filename='styles/admin_style.css')}}">
	<title>Management</title>
</head>
<body style="background:black;height:100%">
<div style="padding-top:5%">
	<br>
	<br>
		<a  class="button" style="vertical-align:middle" href="/static/manageUsers"><span>Admin Users</span></a>
	<br>
	<br>
		<a  class="button" style="vertical-align:middle" href="/static/manageShows"><span>Admin Shows</span></a>
	<br>
	<br>
		<a  class="button" style="vertical-align:middle" href="/updateShows"><span>Update Shows</span></a>
	<br>
	<br>
		<a  class="button" style="vertical-align:middle;" href="/search"><span>Search</span></a>
	<br>
	<br>
			<a  class="button" style="vertical-align:middle" href="/"><span>Log Out</span></a>
	<br>
	<br>
		<a  class="button"  style="vertical-align:middle;background-color:red;" href="/resetVotes"><span>Reset Votes</span></a>
	<br>
	<br>
</div>

</body>
</html>