<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404-NotFound</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="background:black;color:white">
<h1>The page you requested doesn't exist</h1>
<h2>Seems like the show you're looking for hasn't been added to the database. Suggest said show to an admin for future ratings</h2>
<form action="/search">
    	<button type="submit">Search another show</button>
</form>
<br>
<form action="/showList">
    	<button type="submit">See all shows</button>
</form>
</body>
</html>
