
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ranking</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="background:black;color:white">
<h1>Ranking:</h1>
<div class="list">

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
	$.getJSON("/getTop10", function(data){
           var items = []
           i = 0
           $.each(data, function(){
                f = '<div class="showoflist" ';
                f = f + '>';
                    f = f+' <h2>';
                    f = f+ data[i]['rank']+". "+data[i]['name']  +" "+ data[i]['rating']+"</h2>";
                    f = f+' </div>';
                i = i+1;
                $( "<div/>", {
                    html: f
                }).appendTo( ".list" );
           });
        });
</script>
</body>
</html>
